
<!-- 要显示 HeroesComponent 你必须把它加到壳组件 AppComponent 的模板中。 -->
<!-- To display the HeroesComponent, you must add it to the template of the shell AppComponent.-->

<!-- Together, a component and template define an Angular view
   <h1>{{title}}</h1>
   页面的显示嵌套关系，通过Html 页面实现
-->
<!-- <app-heroes></app-heroes> 
AppComponent 的模板不再需要 <app-heroes>，因为只有当用户导航到这里时，才需要显示 HeroesComponent
-->
<!-- 
   添加一个 <nav> 元素，并在其中放一个链接 <a> 元素，当点击它时，就会触发一个到 HeroesComponent 的导航，
   routerLink 属性的值为 "/heroes"，路由器会用它来匹配出指向 HeroesComponent 的路由
   routerLink 是 RouterLink 指令的选择器，它会把用户的点击转换为路由器的导航操作。 
   它是 RouterModule 中的另一个公共指令
-->
<nav>
   <!--
      把仪表盘的导航链接添加到壳组件 AppComponent 的模板中，就放在 Heroes 链接的前面
      Add a dashboard navigation link to the AppComponent shell template, just above the Heroes link.
   在 <a> 元素中使用了 routerLink 指令
      You refactored a tightly coupled main/detail view into a routed detail view
      主页的导航入口链接，需要放到 AppComponent shell template 
   -->
   
   <a routerLink="/dashboard">Dashboard</a>
   <a routerLink="/heroes">Heroes</a>
 </nav>
<!-- <router-outlet> 会告诉路由器要在哪里显示路由的视图
   一个占位符，Angular 会根据当前的路由器状态动态填充它。 ????-->
<router-outlet></router-outlet>
<app-messages></app-messages>
<!-- 我们通过组件的自带的模板来定义组件视图。模板以 HTML 形式存在，告诉 Angular 如何渲染组件。--> 
<!-- Angular指令  在模板中html页面中直接使用，操作DOM-->
<!--属性绑定 : 把元素属性设置为组件属性的值，image 元素的src属性会被绑定到组件的imgeurl 属性上
<img [src] = "imgurl"> 数据流方向：从等号右边到左边
-->
<!-- 事件绑定：需要监听某些事件，事件绑定由左侧圆括号的模板事件和右边引号中的模板语句组成。
   (click)="onUpdateEmloyee(editForm.value)" 数据流是从左边到右边
-->
<!-- 双向数据绑定：<input [(ngModel)] = "str" /> ,之后在页面传值，{{str}}

-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- 添加按钮
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Employee <span class="sr-only">(current)</span></a> 
           -->
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <!-- <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required> -->
     </form>
  </div>
</nav>
<!--id="main-container", Component需要使用 -->
<div class="container" id="main-container">
<div class="row">

  <!--ngFor循环模块，取出employees数据 
   结构型指令：通过在DOM 中添加、移除和替换元素来修改布局。
   属性型指令：修改一个现有元素的外观和行为。 [(ngModel)] = "hero.name",双向绑定
-->
  <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
            <!-- 取出变量，{{employee?.imageUrl}} 加问号？，避免employee不存在报错-->
              <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
           </div>
           <div class="col-6 card-title align-self-center mb-0">
            <!-- 取出变量，{{employee?.namel}} -->
              <h5>{{employee?.name}}</h5>
              <!-- 取出变量，{{employee?.jobTitle}} -->
              <p class="m-0">{{employee?.jobTitle}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
          <!-- 取出变量，{{employee?.email}} -->
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
            <!-- 添加按钮-->
               <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a> 
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Edit Modal ，弹出编辑页面
   updateEmployeeModal 与 Component 对应
-->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
         <!--表单： form #editForm="ngForm" -->
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Name</label>
                 // binding 绑定
                 <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
              </div>
              <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
              <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
              <div class="form-group">
                 <label for="email">Email Address</label>
                 <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                 <label for="phone">Job title</label>
                 <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
              </div>
              <div class="form-group">
                 <label for="phone">Phone</label>
                 <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
              </div>
              <div class="form-group">
                <label for="phone">Image URL</label>
                <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
             </div>
             <div class="modal-footer">
                <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
             </div>
          </form>
       </div>
    </div>
 </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <!-- 修改 deleteEmployee?.id-->
              <button (click)="onDeleteEmloyee(deleteEmployee.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO EMPLOYEES!</h4>
  <p>No Employees were found.</p>
</div>
</div>
